* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: aliceblue;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.8;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  align-items: center;
  display: flex;
  padding: 36px 0px 8px;
}

.header .nav {
  margin-left: auto;
}

.header .nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}

.header .nav a:hover,
.header .nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.header .nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 9px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background-color: #171100;
  border-radius: 1px;
}

.header .nav ul {
  display: flex;
}

.header .sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* Hero */
.hero {
  padding-top: 56px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  object-fit: cover;
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 28px 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero .hero-summary .item {
  display: flex;
}

.hero .hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}

.hero .hero-summary .info {
  margin-left: 16px;
}

.hero .hero-summary .label {
  font-size: 1.6rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero .hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .hero-summary .item + .item {
  margin-top: 22px;
}

.hero .hero-summary .item:nth-child(2) .icon {
  background: #fcefff;
}

.hero .hero-summary .item:nth-child(3) .icon {
  background: #ebeaff;
}

.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.hero .hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

.hero .watch-video {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  margin-left: 28px;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;

  border-radius: 50%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .stats strong {
  margin: 0px 8px 0px 28px;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  font-family: var(--font-heading);
  color: #171100;
}

.hero .stats strong:first-child {
  margin-left: 0px;
}


.hero .stats {
    margin-top: 8px;
}